button {
  border: none;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  font-weight: bold;
  margin: 0.5em;
  transition: background-color 0.3s ease;

  &.correct {
    background-color: #4E4;
  }
  &.error {
    background-color: #E44;
  }
}

.insert-modal {
  input {
    display: block;
    width: 80%;
    margin: 1em auto;
    padding: 0.1em;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
  }
  button {
    display: block;
    margin: auto;
    margin-bottom: 1em;
  }
  p {
    display: block;
    text-align: center;
  }
  padding: 0.5em 0;
  border-radius: 10px;
  border: 1px solid #444;
}

.form {
  background-color: #333;
  border: 1px solid black;
}

.error-message {
  color: red;
  text-align: center;
}