button {
  border: none;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  font-weight: bold;
  margin: 0.5em;
  transition: background-color 0.3s ease;

  &.correct {
    background-color: #4e4;
  }
  &.error {
    background-color: #e44;
  }
}

.study-page {
  padding: 1em;
  .form {
      padding: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .option-section {
          display: inline-block;
          button.big {
              font-size: 1.5em;
          }
      }
  }
}

.insert-modal {
  input {
    display: block;
    width: 80%;
    margin: 1em auto;
    padding: 0.1em;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
  }
  button {
    display: block;
    margin: auto;
    margin-bottom: 1em;
  }
  p {
    display: block;
    text-align: center;
  }
  padding: 0.5em 0;
  border-radius: 10px;
  border: 1px solid #444;
}

.error-message {
  color: red;
  text-align: center;
}

.list-page {
  max-width: 480px !important;
  margin-top: 1em !important;
  padding: 1em;
  text-align: center;

  h1 {
    margin-bottom: 5px;
  }

  p {
    margin: 0;
  }

  .classes-wrapper {
    margin-top: 2em;
    h2 {
      border-bottom: 1px solid gainsboro;
      span {
        float: right;
        padding: 0 0.5em;
        cursor: pointer;
        &:hover {
          background-color: #222;
        }
        &:active {
          background-color: #111;
        }
      }
    }

    .info {
      color: #888;
    }
  }
}


ul.lista {
  text-align: left;
  list-style: none;
  padding: 0 1em;
  &.clickable li {
    cursor: pointer;
  }
  li {
    font-size: 1.2em;
    padding: 10px;
    transition: 0.1s background-color ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .list-content {
      p {
        margin: 5px;
      }
      .description {
        font-size: 0.8em;
        color: #AAA;
      }
    }

    &:hover {
      background-color: #222;
    }

    .actions {
      display: flex;
      cursor: pointer;
      color: $main-color;
      p {
        margin: 0 0 0 15px;
        padding: 5px;
        font-size: 0.8em;
        line-height: 0.8em;
        vertical-align: middle;
        &:hover {
          color: scale-color($color: $main-color, $lightness: 70%);
        }
      }
    }
  }
}

.popup {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);

  .wrapper {
    padding: 2em 0;
    text-align: center;
    margin-top: 20vh;
    max-width: 480px;
    h3 {
      margin-top: 0;
    }
    input {
      cursor: pointer;
    }
    input[type='text'] {
      width: 70%;
      font-size: 1.3em;
      padding: 0 0.5em;
    }
    ul {
      list-style: none;
      text-align: left;
      li {
        label {
          padding-left: 10px;
          cursor: pointer;
        }
      }
    }
    .buttons {
      width: 70%;
      margin: auto;
      text-align: right;
      margin-top: 0.6em;
      button {
        cursor: pointer;
        margin-bottom: 0;
      }
    }
  }
}

.form {
  background-color: #333;
  border: 1px solid black;
  max-width: 75%;
  margin: auto;
  border-radius: 10px;
}
