button {
  border: none;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  font-weight: bold;
  margin: 0.5em;
  transition: background-color 0.3s ease;

  &.correct {
    background-color: #4e4;
  }
  &.error {
    background-color: #e44;
  }
}

.insert-modal {
  input {
    display: block;
    width: 80%;
    margin: 1em auto;
    padding: 0.1em;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
  }
  button {
    display: block;
    margin: auto;
    margin-bottom: 1em;
  }
  p {
    display: block;
    text-align: center;
  }
  padding: 0.5em 0;
  border-radius: 10px;
  border: 1px solid #444;
}

.error-message {
  color: red;
  text-align: center;
}

.list-page {
  max-width: 480px !important;
  margin-top: 1em !important;
  padding: 1em;
  text-align: center;


  h1 {
    margin-bottom: 5px;
  }

  p {
    margin: 0;
  }

  .classes-wrapper {
    margin-top: 2em;
    h2 {
      border-bottom: 1px solid gainsboro;
      span {
        float: right;
        padding: 0 0.5em;
        &:hover {
          background-color: #222;
          cursor: pointer;
        }
        &:active {
          background-color: #111;
          cursor: pointer;
        }
      }
    }

    ul {
      text-align: left;
      list-style: none;
      padding: 0 1em;
      li {
        font-size: 1.2em;
        padding: 10px;
        transition: 0.1s background-color ease-in;
        cursor: pointer;
        &:hover {
          background-color: #222;
        }
      }
    }
  }
}


.form {
  background-color: #333;
  border: 1px solid black;
  max-width: 75%;
  margin: auto;
  border-radius: 10px;
}
